/*on this css file I've put specific styles on pages
except styling style for news.html because it caused errors*/

.homebg { /* styling for page index.html*/
	background-image: url('../images/homebg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
    width: auto;
}
.navHome {	/* styling for page index.html*/
    display: flex;
    align-self: flex-start;
    border-bottom: solid orange 4px;
    padding: 18px;		
}
@media (max-width: 960px) {
	.homebg {
		background-image: url(../images/mobile-homebg.jpg);
	}

}